<?xml version="1.0" encoding="UTF-8"?>
<svg width="600px" height="600px" viewBox="0 0 600 600" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
    <title>Combined Shape</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <path d="M300.036172,0 C265.141768,0 235.861241,24.2423848 227.896783,56.9250243 C203.64168,33.7239232 165.951641,29.2795944 136.580682,48.3279263 C107.24848,67.3515276 95.6531846,103.685168 106.485623,135.502891 C73.6717962,129.184252 39.591924,145.915728 25.0647003,177.889643 C10.5245577,209.883734 20.2459769,246.829129 46.4718467,267.720532 C15.5176853,280.286874 -4.15058666,312.873194 0.745649709,347.651417 C5.65415897,382.50253 33.6557219,408.319856 66.941086,411.63244 C47.6145171,439.096296 48.5834293,477.284723 71.4303793,503.869996 C94.2715157,530.442253 131.606933,536.879338 161.346078,521.571818 C159.788714,555.224803 181.091863,586.860953 214.603307,596.798053 C248.075994,606.716279 282.956834,591.786875 299.757772,562.696664 C313.01895,585.77997 337.668077,600 363.996651,600 C370.882387,600 377.884393,599.023797 384.834723,596.980277 C418.365545,587.120623 439.739748,555.53068 438.254083,521.871187 C467.955118,537.243136 505.309913,530.897814 528.207893,504.371764 C551.113623,477.831397 552.166508,439.648827 532.898074,412.146574 C566.195711,408.911436 594.248949,383.153332 599.229158,348.309378 C604.209367,313.536362 584.599229,280.905136 553.664446,268.279572 C579.941991,247.440883 589.746737,210.507854 575.271188,178.476016 C560.809205,146.46891 526.76163,129.672354 493.934238,135.919405 C504.83773,104.121856 493.320594,67.761533 464.027148,48.6793595 C434.694945,29.5652966 397.004906,33.9321799 372.697483,57.0753596 C364.797619,24.3725453 335.575226,0.0709374481 300.675008,0 L600,0 L600,600 L0,600 L0,0 L300.036172,0 Z" id="path-1"></path>
    </defs>
    <g id="Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Homepage---FINAL" transform="translate(-105.000000, -3391.000000)">
            <g id="Sandy-Doll" transform="translate(105.000000, 3391.000000)">
                <g id="Group-3">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <use id="Combined-Shape" fill="#FEF9F1" xlink:href="#path-1"></use>
                </g>
            </g>
        </g>
    </g>
</svg>
